venv/
__pycache__
*.egg-info
*.DS_Store
.idea/
.vscode/
checkpoints/*.pth
checkpoints/*.vocab
checkpoints/*.onnx
checkpoints/.cache
checkpoints/*.whl
outputs/
build/
*.py[cod]
*.egg-info/
.venv
*.bmodel
*.tar.gz
onnx
